main{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 10px 10px 50px;
    padding: 10px;
    background: #e2e1e0;
}
main > h1{
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 2em;
    font-weight: lighter;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.89);
    background-color: rgb(3, 42, 116);
    box-shadow: 0px 0px 20px 3px #333;
    margin: 50px auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
main .m-one{
    width: 74%;
    margin: 10px 13%;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
}
main .m-one .image{
    width: 100%;
}
main .m-one .image img{
    width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
main .m-one .text{
    margin: 30px 90px 35px 0px;
}
main .m-one .text h2{
    font-size: 20px;
    line-height: 1.3;
}
main .m-one .text .part-one{
    margin: 30px 0px;
    display: grid;
    grid-template-columns: 12% 86%;
    column-gap: 2%;    
}
main .m-one .text .part-one img{
    margin: auto;
    width: 100%;
    border: solid red 2px;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
main .m-one .text .part-one .personne{
    margin-left: 7px;
}
main .m-one .text .part-one .personne h3{
    margin-top: 5px;
    font-size: 18px;
}
main .m-one .text .part-one .personne p{
    margin: -17px 0px 0px;
    font-size: 15px;
}
main .m-one .text .paraghraphe{
    line-height: 1.3;
}
main .m-one .text .read{
    cursor: pointer;
    width: 100%;
    margin-top: -3px;
    height: 30px;
    display: grid;
    grid-template-columns: 60% 20%;
    column-gap: 25%;
    color: rgb(39, 95, 199);
}
main .m-one .text .read h4{
    font-size: 20px;
    margin: 0px;
    font-weight: lighter;
    display: inline;
}
main .m-one .text .read i{
    margin: -14px 0px 0px;
    font-size: 3em;
    cursor: pointer;
    user-select: none;
    animation: arrow 1.2s linear infinite;
    -webkit-animation: arrow 1.2s linear infinite;
}

@keyframes arrow{
    0%{
        transform: translateX(-6px);
        -webkit-transform: translateX(-6px);
        -moz-transform: translateX(-6px);
        -ms-transform: translateX(-6px);
        -o-transform: translateX(-6px);
}
    100%{
        transform: translateX(6px);
        -webkit-transform: translateX(6px);
        -moz-transform: translateX(6px);
        -ms-transform: translateX(6px);
        -o-transform: translateX(6px);
    }
}



/**/
main .m-two{
    height: 100%;
    width: 74%;
    margin: 50px 13% ;
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    column-gap: 2.75%;
    grid-template-rows: 42.5% 42.5%;
    row-gap: 12%;
}
main .m-two > div{
    display: grid;
    margin-bottom: 0px;
    background: #fff;
    border-radius: 6px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -ms-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
main .m-two > div:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
main .m-two div .imag{
    width: 100%;
    
}
main .m-two div .imag img{
    width: 100%;
    height: 70%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

main .m-two div  h2{
    font-size: 18px;
    margin: -18% 15px 0px 15px;
    height: 50px;
}

main .m-two div .part-one{
    margin: -5px 0px 20px 0px;
    padding: 0px 0px 20px 15px;
    display: grid;
    grid-template-columns: 12% 86%;
    column-gap: 2%;
    background: #fafafa;
    border-radius: 6px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
main .m-two div .read{
    cursor: pointer;
    background: #fafafa;
    width: 100%;
    margin-top: -20px;
    height: 30px;
    display: grid;
    grid-template-columns:40% 20%;
    column-gap: 42%;
    color: rgb(39, 95, 199);
}
main .m-two div .read h4{
    padding-left: 15px;
    margin: 0px;
    font-weight: lighter;
    display: inline;
}
main .m-two div .read i{
    margin: -10px 0px 0px;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    animation: arrow 1.2s linear infinite;
    -webkit-animation: arrow 1.2s linear infinite;
}

@keyframes arrow{
    0%{
        transform: translateX(-6px);
        -webkit-transform: translateX(-6px);
        -moz-transform: translateX(-6px);
        -ms-transform: translateX(-6px);
        -o-transform: translateX(-6px);
}
    100%{
        transform: translateX(6px);
        -webkit-transform:;
        -moz-transform:;
        -ms-transform:;
        -o-transform:;
}
}


main .m-two div .part-one img{
    margin: auto;
    width: 100%;
    border: solid red 2px;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
main .m-two div .part-one .personne{
    margin: 10px 0px 0px 5px;
    background: #fafafa; 
}
main .m-two div .part-one .personne h3{
    font-size: 16.5px;  
    margin-top: -6px;
}
main .m-two div .part-one .personne p{
    margin: -17.5px 0px 0px;
    font-size: 15px;
}

@media only screen and (max-width: 425px) {
    /**/
    main > h1{
        width: 220px;
        font-size: 1.5em;
        margin: 25px auto;
    }
    /**/
    main .m-one{
        background: #fff;
        width: 90%;
        margin: 10px 5%;
        grid-template-columns: 100%;
        column-gap: 0%;
        row-gap: 1%;
    }
    main .m-one .image{
        height: 150px;
    }
    main .m-one .image img{
        height: 100%;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    main .m-one .text{
        margin: -5px 15px 20px 15px;
    }
    main .m-one .text h2{
        text-align: center;
        font-size: 16px;
        line-height: 1.3;
    }
    main .m-one .text .part-one{
        margin: 10px 10%;
        grid-template-columns: 12% 86%;
        column-gap: 2%;    
    }
    main .m-one .text .part-one .personne{
        margin-left: 10px;
    }
    main .m-one .text .part-one .personne h3{
        margin-top: 5px;
        font-size: 13px;
    }
    main .m-one .text .part-one .personne p{
        margin: -12px 0px 0px;
        font-size: 11px;
    }
    main .m-one .text .paraghraphe{
        line-height: 1.3;
        font-size: 13px;
    }

    main .m-one .text .read{
        grid-template-columns: 50% 15%;
        column-gap: 30%;
    }
    
    /**/
    main .m-two{
        height: 100%;
        width: 98%;
        margin: 20px 1% 5px;
        grid-template-columns: repeat(2,48%);
        column-gap: 4%;
        grid-template-rows: 30% 30% 30%;
        row-gap: 6%;
    }
    main .m-two > div{
        display: grid;
        margin-bottom: 0px;
        height: 210px;
    }
    main .m-two div .imag img{
        height: 80%;
    }
    
    main .m-two div  h2{
        font-size: 14px;
        margin: -11% 2px 0px ;
        height: 50px;
        text-align: center;
    }
    main .m-two div .part-one{
        margin: -20px 0px 0px 0px;
        padding: 0px 0px 20px 5px;
        grid-template-columns: 20% 75%;
        column-gap: 5%;
    }
    main .m-two div .part-one img{ 
        margin-top: 15px;
    }
    main .m-two div .part-one .personne{
        margin-top: 5px;
    }
    main .m-two div .part-one .personne h3{
        font-size: 12.5px;
        margin-top: 13.5px;
    }
    main .m-two div .part-one .personne p{
        margin: -10.5px 0px 0px 0px;
        font-size: 10px;
    }

    /**/        
    main .m-two div .read{
        margin-top: -10px;
        height: 25px;
        grid-template-columns:70% 10%;
        column-gap: 4%;
    }
    main .m-two div .read h4{
        padding-left: 7px;
        margin: 0px;
        font-size: 13px;        
    }

}